h1 {
    color: hotpink;
}

/* MAIN HEADER */
.main-header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #702b2b;
}
.main-header li{
    float: left;
}
.main-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main-header li a:hover {
    background-color: #c91a1a;
}

/* FANCY TABLES */
.fancy-table {
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
}
.fancy-table th {
    text-align: left;
}
.fancy-table td {
    border-top: 1px solid black;
    padding: 10px;
}
.fancy-table tbody tr:nth-child(odd) {
    background-color: #f5efef;
}
.fancy-table tbody tr:hover {
    background-color: #f1bad2;
}

.addNewButton {
    display: inline-block;
    padding-top: 30px;
}