<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
    <title>Products</title>
</head>
<body>
<div th:insert="~{fragments::header}"></div>
<h1>List of all products</h1>

<h3>Filters:</h3>
<form class="products-filters" method="get" th:action="@{/products}" th:object="${filters}">
  <div>
    <label for="cost">Cost: </label>
    <input type="text" id="cost" th:field="*{cost}"/>
    <label for="numberOfAvailable">Available: </label>
    <input type="text" id="numberOfAvailable" th:field="*{numberOfAvailable}"/>
    <label for="rating">Rating: </label>
    <input type="text" id="rating" th:field="*{rating}"/>
  </div>
  <input type="submit" value="Filter"/>
</form>

<table class="fancy-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Available</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p: ${allProducts}" th:onclick="'navigateTo(' + ${p.id} + ')'">
    <td th:text="${p.name}" >test</td>
    <td th:text="${#numbers.formatDecimal(p.rating,1,0)}">95</td>
    <td th:text="${p.cost}">1250</td>
    <td th:text="${p.numberOfAvailable}">0</td>
  </tr>
  </tbody>
</table>
<a class="addNewButton" href="/products/add">Add new product</a>
<script>
  function navigateTo(productId) {
    window.location.href = window.location.origin + '/products/' + productId;
  }
</script>
</body>
</html>