<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <title>ProductDetails</title>
</head>
<body>
<div th:insert="~{fragments::header}"></div>
<div th:object="${currentProduct}">
    <h1 th:text="*{name}">name</h1>
    <p th:text="'Rating: ' + *{rating}">Rating 5 </p>
    <p th:text="'Cost: ' + *{cost}">Cost 100 </p>
    <p th:text="'Reviews: ' + *{reviews}">Reviews </p>

    <a href="/review/add">Add review</a>
    <a th:href="'/products/'+${id}+'/delete'">Delete product</a>
    <a th:href="'/products/'+${id}+'/edit'">Edit product</a>
</div>
</body>
</html>